<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documents</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <h1>All your folders are shown here</h1>
    <% if (folders.length == 0) {%>
    <h2>You have not created any folders</h2>
    <% } else { %>
    <ul>
      <% for(let folder of folders ) { %>
      <li>
        <a href="/folder/<%=folder.id%>"><%=folder.folder_name%></a>
      </li>
      <% } %>
    </ul>
    <% } %>

    <h1>Any files not in folders are shown here</h1>
    <% if (files.length == 0) {%>
    <h2>You have not uploaded any files</h2>
    <% } else { %>
    <ul>
      <% for(let file of files ) { %>
      <li><%=file.file_name %></li>
      <button>
        <a href="<%=file.file_URL %>">Download</a>
      </button>
      <form action="/delete-file" method="POST">
        <input type="hidden" name="fileID" value="<%=file.id %>" />
        <input type="hidden" name="fileName" value="<%=file.file_name %>" />
        <button type="submit" data-id="<%file.id %>">Delete</button>
      </form>
      <form action="rename-file"></form>
      <button type="submit">Rename File</button>

      <% } %>
    </ul>
    <% } %>
  </body>
</html>

<!-- 
/documents/:folderID
-->
